@import url('reset.css');
@import url('fonts.css');

body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #3448A4;
    align-items: center;
    justify-content: space-around;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #FFBD38;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #447F7B;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #FFBD38;
}

.centerRectangle{
    width: 23%;
    height: 100vh;
    background-color: #447F7B;
    position: relative;
}


.cazinoRound{
    border-radius: 10000px;
    background-image: url(../assets/images/roundColors.svg);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cazinoArrow{
    background-image: url(../assets/images/roundArrow.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 10vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blockStars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25vw;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.blockStarPurpule{
    background: #BB42B3;
    border-radius: 46px;
    width: 20vw;
    height: 4.5vw;
}

.blockStarYellow{
    background: #FFBD38;
    border-radius: 46px;
    width: 20vw;
    height: 4.5vw;
}

.moneyCoinblock45{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
    height: fit-content;
}

.moneyCoin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    transform: rotate(90deg);
}

.moneyCoinIn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background: #FFBD38;
    border-radius: 10000px;
    color: #A87717;
    border: #A87717 2px solid;
}