@import url('reset.css');
@import url('fonts.css');

body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: #3448A4;
    align-items: center;
    justify-content: space-around;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 800px;
    background-color: #FFBD38;

}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: #447F7B;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: #447F7B;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.centerRectangle{
    width: 23%;
    height: 800px;
    background-color: #447F7B;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.cazinoRound{
    border-radius: 10000px;
    background-image: url(../assets/images/roundColors.svg);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    z-index: 1;
    position: relative;
}

.blockStars{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 100%;
    z-index: 2;
}

.blockStarPurpule{
    background-color: #BB42B3;
    border-radius: 46px;
    width: 300px;
    height: 65px;
}

.blockStarYellow{
    background-color: #FFBD38;
    border-radius: 46px;
    width: 300px;
    height: 65px;
}
.blockforstar{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cazinoArrow{
    background-image: url(../assets/images/roundArrow.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 92px;
    height: 165px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moneyCoinblock45{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    gap: 280px;
}

.moneyCoinblock135{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    gap: 330px;
}

.moneyCoin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    transform: rotate(90deg);
    background: #FFBD38;
    border-radius: 1000px;
}

.moneyCoinIn{
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFBD38;
    border-radius: 10000px;
    color: #A87717;
    border: #A87717 4px solid;
    font-size: 80px;
}

.BlockStar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    gap: 330px;
}

.BlockStar90{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    gap: 330px;
}

.blockforstarG{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockStarGreen{
    background-color: #447F7B;
    border-radius: 46px;
    width: 100px;
    height: 22px;
}

.flowerGreen1{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #447F7B;
    border-radius: 10000px;
}

.flowerGreen1Stick{
    background-color: #FFBD38;
    border-radius: 409px;
    width: 64px;
    height: 20px;
}

.flowerGreen2Stick{
    background-color: #447F7B;
    border-radius: 1000px;
    width: 100px;
    height: 48px;
}

.flowerGreen2Center{
    background-color: #FFBD38;
    border-radius: 409px;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.FlowerInPod{
    height: 800px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.FlowerPot{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33333%;
    height: fit-content;
    position: relative;
    z-index: 2;
}

.fUp{
    width: 33.33333vw;
    max-width: 700px;
    height: 42px;
    background-color: #BB42B3;
}

.fDown{
    background-color : #BB42B3;
    width: 25vw;
    height: 291px;
    max-width: 500px;
}

.sUp{
    width: 33.33333vw;
    max-width: 700px;
    height: 42px;
    background: #3448A4;
}

.sDown{
    width: 25vw;
    max-width: 500px;
    height: 228px;
    background: #3448A4;
}

.furstFlowerFlower{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    position: relative;
}

.furstFlower{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 203px;
    height: 203px;
    padding: 20px 0px 0px 0px;
    z-index: 2;
}

.furstFlowerStick{
    background-color: #3448A4;
    border-radius: 409px;
    width: 203px;
    height: 46px;
}

.furstFlowerCenter{
    width: 50px;
    height: 50px;
    background: #FFBD38;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.furstFlowerCenterStick{
    width: 288px;
    height: 12px;
    background-color: #447F7B;  
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%) rotate(90deg);
}

.furstFlowerLeaf1{
    width: 200px;
    height: 80px;
    background: #447F7B;
    border-radius: 50px;
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-65%, -15%) rotate(60deg);
}

.furstFlowerLeaf2{
    width: 200px;
    height: 80px;
    background: #447F7B;
    border-radius: 50px;
    position: absolute;
    left: 65%;
    top: 85%;
    transform: translate(-35%, -15%) rotate(120deg);
}

.thirdFlowerFlower{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    position: relative;
}

.thirdFlower{
    width: 161px;
    height: 218px;
    position: relative;
    padding: 20px 0px 0px 0px;
    z-index: 2;
}

.littleFlower1{
    position: absolute;
    width: 96px;
    height: 96px;
    padding: 0px 0px 0px 20px;
}

.littleFlower2{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 100%;
    top: 60%;
    transform: translate(-90%, -65%);
}

.littleFlower3{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 0%;
    top: 100%;
    transform: translate(-0%, -100%);
    padding: 0px 0px 0px 20px;
}

.littleFlowerStick1{
    position: absolute;
    width: 96px;
    height: 46px;
    background: #3448A4;
    border-radius: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.littleFlowerStick{
    position: absolute;
    width: 96px;
    height: 46px;
    background: #3448A4;
    border-radius: 1000px;

}

.littleFlowerCenter{
    position: absolute;
    width: 26.7px;
    height: 26.7px;
    background: #FFBD38;
    border-radius: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Cactus{
    position: relative;
    width: 228px;
    height: 498px;
    background: #447F7B;
    border-radius: 300px;
    top: 15%;
    display: flex;
    justify-content: center;
    
}

.CactusSticks{
    position: relative;
    width: 137px;
    height: 122px;
}

.CactusSticksBlok{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 52px 0px 150px;
    gap: 52px;
    width: fit-content;
    height: fit-content;
}

.CactusStick1{
    position: absolute;
    width: 41px;
    height: 9px;
    background-color: #3448A4;
    transform: rotate(50deg);
}

.CactusStick2{
    position: absolute;
    width: 41px;
    height: 9px;
    left: 100%;
    top: 40%;
    background-color: #3448A4;
    transform: rotate(150deg) translateX(100%);
}

.CactusStick3{
    position: absolute;
    width: 41px;
    height: 9px;
    background-color: #3448A4;
    top: 100%;
    transform: rotate(-170deg);
}

.Table{
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    flex-wrap: wrap;
    max-width: 1010px;
    overflow: hidden;

}

.block{
    width: 200px;
    height: 200px;
    border: 1px solid #A87717;
}

.Check{
    min-width: 480px;
    max-width: 900px;
    border: 1px solid #A87717;
    width: 100%;
    background-color: #FFBD38;
    color: #3448A4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 13px;
}

.firstText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.thirdText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 10px;
    width: 256px;
    height: 180px;
    border: 3px solid #3448A4;
}

.TextMedium{
    width: fit-content;
    height: fit-content;
    font-family: 'Fira Sans';
    font-size: 40px;
    line-height: 48px;
    color: #3448A4;
}

.TextSmall{
    width: fit-content;
    height: fit-content;
    font-family: 'Fira Sans';
    font-size: 32px;
    line-height: 38px;
    color: #3448A4;
}

.TextBig{
    width: fit-content;
    height: fit-content;
    font-family: 'Fira Sans';
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #3448A4;
}

.CenterText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.Summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    gap: 166px;
    width: 100%;
    height: fit-content;
}

.flowerYellowBlock{
    width: 150px;
    height: 150px;
    position: relative;
}

.flowerYellowStick{
    width: 33px;
    height: 150px;
    background: #FFBD38;
    border-radius: 46px;
    transform: rotate(90deg);
}

.textFraim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 33px 0px;
    width: 100%;
    height: 800px;
    gap: 26px;
}

.textFraim1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: #FFBD38;

}

.textFraim2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: #3448A4;
}

.textFraim3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: #BB42B3;
}

.textFraim4{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: #BB42B3;
}

.textFraimBlue{
    font-family: 'Playfair Display';
    font-size: 120px;
    line-height: 160px;
    color: #3448A4;
}

.textFraimYelloy{
    font-family: 'Playfair Display';
    font-size: 120px;
    line-height: 160px;
    color: #3448A4;
}